<html>
   <head>
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src=".././static/test.js"></script>
   </head>


   <body>
      <h1>Test 2</h1>

     

        

         <div class="field_wrapper">

         <label for="start">Starting Point</label>
         <input type="text" id="start" name="field_name[]" value=""/> <br>


         <label for="end">Destination</label>
         <input type="text" id="end" name="field_name[]" value=""/> <br>



         <label for="waypoint">Waypoint</label>
         <input type="text"  name="field_name[]" value=""/>
         <a href="javascript:void(0);" class="add_field_btn" title="Add field"> add</a>

         </div>
         <br>
        
      
      
       <button id="sub_btn1">Submit</button>

      
      


   </body>
</html>